<!DOCTYPE html>
<html>
    <head>
        <title>Nick's Neat ToDo</title>
    </head>

    <body>
        <h1>Add a Task</h1>

        <form id="task_form" method="post" action="/task/create">

            {% csrf_token %}
            Task Title: <input type="text" name="title" value="" size="50" />
            <br />
            Task Description: <input type="text" name="description" value="" size="50" />
            <br />
            Collaborator1: <input name="collaborator1" type="email" /><br>
            Collaborator2: <input name="collaborator2" type="email" /><br>
            Collaborator3: <input name="collaborator3" type="email" /><br>
            <br />
            <!-- {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %} -->

            <input type="submit" name="submit" value="Create Task" />
        </form>
    </body>

</html>
