<!DOCTYPE html>
<html>

    <head>
        <title>CPSC113 Todo</title>
    </head>

    <body>


    {% if user.is_authenticated %}
      <h1>Nikko says... hello {{ user.username }}!</h1>
      {% include "social_todo/task_list.html" %}
      <br>
      {% include "social_todo/add_task.html" %}
    {% else %}
      <h1>What do you think this is, a Holiday Inn?</h1>
      {% include "social_todo/login.html" %}
      <br>
      {% include "social_todo/registration_form.html" %}
    {% endif %}

    {% if user.is_authenticated %}
      <br>
      <a href="/user/logout">Logout</a><br />
      {% else %}

    {% endif %}

</body>

</html>
