<!DOCTYPE html>
<html>

    <head>
        <title>CPSC113 Todo</title>
    </head>

    <body>

    {% if errors %}
      <div style="color:red" class="validation-error">
        <ul>
            {% for error in errors %}
            <li>{{ error }}errors</li>
            {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if messages %}
    <div style="color:red" class="validation-error">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
      <h1>Welcome, {{ user.first_name }}!</h1>
      {% include "social_todo/task_list.html" %}
      <br>
      {% include "social_todo/add_task.html" %}
    {% else %}
      <h1>What do you think this is, a Holiday Inn?</h1>
      {% include "social_todo/login.html" %}
      <br>
      {% include "social_todo/registration_form.html" %}
    {% endif %}

    {% if user.is_authenticated %}
      <br>
      <a href="/user/logout" class="logout">Logout</a>
      <br>
      {% else %}

    {% endif %}

</body>

</html>
