<!DOCTYPE html>
<html>

    <body>
        <h1>Login to Nick's Neat Social ToDo App</h1>

        <!-- {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
        {% endif %} -->

        <form id="login_form" class="login" method="post" action="/user/login">
            {% csrf_token %}
            <!-- {{ form }} -->
            Email: <input name="username" type="email" value="" size="50" />
            <br />
            Password: <input name="password" type="password" value="" size="50" />
            <br />

            <input type="submit" class="log-in-submit" value="Log In" />
        </form>

    </body>
</html>
